:root {
  --primario: #6834a6;
  --blanco: #FFF;
  --negro: #000000;
  --fuentePrincipal: 'Poppins', sans-serif;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
  
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font-family: var(--fuentePrincipal);
  font-size: 1.6rem;
  line-height: 1.8;
  margin: 0;
}
h1, h2, h3 {
  font-weight: 900;
  margin: 2rem 0;
}
h1 {
  font-size: 5rem;
}
h2 {
  font-size: 4.6rem;
}
h3 {
  font-size: 3rem;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  display: block;
}

header{
  background-color: rgba(red, green, blue, alpha)
}
.header{
  height: 100vh;
  background-image: url(../src/assets/img/Hero.jpeg);
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
}
.overlay{
  width: 100%;
  height: 100%;
  background-color: #0000002e;
}
.overlay--main{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  justify-items: center;  
  align-items: center;
}
.nav{
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 4rem 4rem 0 4rem;
  flex-direction: column;
  align-items: center;
}
@media (min-width:768px) {
  .nav{
    flex-direction: row;
    justify-content: space-between;
  }
}
.btn-lenguage{
  padding: 1rem;
  border-radius: 25px;
  background-color: var(--blanco);
  border: none;
  cursor: pointer;
}
.btn-lenguage:hover{
  background-color: #f5f2eb;
  border: 1px solid #9d9d9d;
}


.header__img{
  margin: 0 auto;
  width: 75rem;
}
.header__texto{
  display: flex;
  justify-content: center;
  margin-top: -5rem;
  color: white;
  font-size: x-large;
}


@media (min-width:998px) {
  .header__texto{
    justify-content: flex-end;
    margin-top: -12rem;
    padding-right: 40rem;
  }
}

[class$="__button"]{
  padding: 1rem 3rem;
  text-decoration: none;
  display: flex;
  justify-content: center;
  position: relative;  
}

[class$="__button"] a{
  text-decoration: none;
  padding: 1rem 6rem;
  color: var(--blanco);
  border:solid 1px var(--blanco);
  border-radius: 25px;
  transition: background-color 4s linear;
  transition: color 2s linear;
  transition: border 2s linear;
}

[class$="__button"] a:hover{
  background-color: #b5b5b543;
  color: #383838;
  border: solid 1px #383838;
}


.header__button{
  margin-top: 15rem;  
}

.main{
  height: 200vh;
  background-image: url(../src/assets/img/Vacio.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.main h2{
  margin: 0;
}

.main__text{
  grid-column: 1 / 6;
  grid-row: 1 / 3;
  padding: 2rem;
  background-color: #f5f2eb;
  text-align: center;
  border-radius: 25px;
}
@media (min-width:768px) {
  .main__text{
    grid-column: 2/5;
    grid-row: 2/3;
    padding: 2rem;
  }
}

.main__img{
    width: 15rem;
    grid-column: 4/5;
    grid-row: 2/3;
    align-self: end;
    margin-right: -8rem;
    margin-bottom: -2rem;
}
@media (min-width:768px) {
  .main__img{
    margin-bottom: -8rem;
  }
}
.sectionBelive{
  padding: 10rem 5rem;
  background-color: #f5f2eb;
  display: grid;
  grid-template-columns: repeat(1fr);
  gap: 2rem;
  
}
@media (min-width:768px) {
  .sectionBelive{
    grid-template-columns: repeat(2,1fr);
    height: 100vh;
  }
  
}
.sectionBelive__image{
  background-image: linear-gradient(180deg, rgba(245,242,235,1) 0%, rgba(245,242,235,0) 100%, rgba(245,242,235,0.007650594417454526) 100%), url("../src/assets/img/CaminandoAlMar.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 40rem;
}
@media (min-width:768px) {
  .sectionBelive__image{
    height: 100%;
  }
}
.sectionBelive__image img{
  width: 18rem;
}

.sectionBelive__text{
  border-bottom:solid 1px var(--negro);
  text-align: end;
}
.sectionBelive__text:first-of-type{
  margin-top: 6rem;
}

.films{
  width: 100%;
  position: relative;
  display: flex
;
  align-items: center;
  justify-content: center;
  height: 100vh
}
.films .overlay {
  padding: 4rem;
  background: rgb(245, 242, 235);
  background: linear-gradient(270deg, rgba(245, 242, 235, 0.364), rgba(245, 242, 235, .1));
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: absolute;
  width: 100%;
}
.films__links{
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.video__button a{
  min-width: 27.4rem;
}

video {
   position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}
.photos{
  padding: 4rem;
  background-color: #f5f2eb;
}

@media (min-width:768px) {
  .photos__grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }
  .photos__grid--photo:first-child{
    grid-column: 1/3;
    grid-row: 1/3;
  }
  .photos__grid--photo:nth-child(3){
    grid-row: 1/4;
  }

  .photos__grid--photo:nth-child(4){
    grid-column: 2/4;
    grid-row: 3/4;
  }

  .photos__grid--photo:nth-child(5){
    grid-row: 3/4;
  }
  .photos__grid--photo:last-child{
    grid-column: 2/5;
  }
  
}
.photos__grid--photo img{
  border-radius: 25px;
  width: 100%;  
  max-height: 100vh;
  margin-bottom: 2rem
}

@media (min-width:768px) {
  .photos__grid--photo img{
    object-fit: cover;
    min-height: 100%;
    margin: 0;
  }
}



.reviews{
  padding: 4rem;
  background-color: #f5f2eb;
  display: flex;
  flex-direction: column;
  text-align: center;

}
@media (min-width:768px) {
  .reviews{
    flex-direction: row;
    align-items: flex-start;
  }
  
}
.reviews__draw{
  width: 10rem;
  margin: 0 auto;
}
@media (min-width:768px) {
  .reviews__draw{
    margin-top: 10rem;
    width: 40rem;
  }
}
.reviews__texts{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3rem;
}

.reviews__text{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding: 4rem;
}
@media(min-width:768px){
  .reviews__text{
    flex-direction: row;
  }
}
.reviews__text--img{
  width: 10rem;
  height: 10rem;
  border-radius: 80px;
}
.reviews__text--quote{
  display: flex;
  flex-direction: column;
}
.reviews__text--quote blockquote{
  margin: 0;
}
.reviews__text--quote p{
  font-weight: bolder;
}

.contact{
  height: 100vh;
  background-image: url(../src/assets/img/Zapatos.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.contact h2{
  margin: 0;
}

.contact__form{
  grid-column: 1 / 6;
  grid-row: 3 / 4;
  padding: 1rem;
  background-color: #f5f2eb;
  text-align: center;
  border-radius: 25px;
}
@media (min-width:768px) {
  .contact__form{
    grid-column: 2/5;
    grid-row: 2/3;
    padding: 2rem;
  }
}
.contact__flex{
  display: flex;
  flex-direction: column;
}
@media (min-width:768px) {
  .contact__flex{
    flex-direction: row;
  }
  
}
.contact__texts{
  flex-basis: 50%;
}
.contact__text{
  border-bottom:solid 1px var(--negro);
  text-align: center;
}
@media (min-width:768px) {
  .contact__text{
    text-align: start;
  }
}
.contact__text a{
  text-decoration: none;
  color: var(--negro);
}
.contact__button a{
  color: var(--negro);
  border:solid 1px var(--negro);
}

.contact__image{
  width: 30rem;
  margin: 0 auto;
}


/*asdas*/
